/* General Styling */
body {
  font-family: "Arial", sans-serif;
}

/* Calendar Wrapper */
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

/* Navigation Area */
.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
  max-width: 800px;
}

.nav-button {
  font-size: 24px;
  margin: 0 2.5rem;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #007bff;
}

/* Calendar Header */
.calendar-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  max-width: 800px;
  margin-bottom: 16px;
  text-align: center;
  font-weight: 600;
}

/* Calendar Container */
.calendar-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 16px;
  width: 100%;
  max-width: 800px;
  margin: auto;
  justify-items: center;
}

.calendar-day {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.calendar-day:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.today {
  background-color: #007bff;
  color: white;
}

.event {
  background-color: #ffc107;
}

.today-event {
  background-color: #28a745;
  color: white;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  cursor: pointer;
}

.nav-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
}

.nav-button {
  font-size: 24px;
  margin: 0 2.5rem;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  width: 60%;
  min-width: 300px;
  max-width: 500px;
}

input[type="text"] {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.today-event {
  background-color: green;
  color: white;
}

.day-events-container {
  width: 100%;
  max-width: 600px; /* or whatever width your calendar is */
  margin: 0 auto;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.draggable-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-day.selected {
  background-color: teal;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .modal {
    width: 90%;
    min-width: 200px;
  }
  .calendar-container {
    gap: 8px;
  }
}
